* {
    font-family: 微软雅黑;
}

.input-container {
    background: none;
    width: 100%;
    margin: auto;
    text-align: center;
}

.container1 {
    padding: 0;
}

.fl-left {
    float: left;
}

.btn {
    background-color: #ff8c00;
    color: #fff;
    border: 0;
    margin: 10px auto;
    width: 50%;
    height: 40px;
}

.btn-sighup {
    background-color: white;
    border: 1px solid darkorange;
    color: darkorange;
    padding: 5px 11px;
    line-height: 28px;
}

.btn-view {
    background-color: #ff8c00;
    color: #fff;
    border: 0;
    margin: 10px auto;
    width: 80%;
    font-size: 14px;
}

.btn-grey {
    background-color: #ccc;
    color: #fff;
}

.btn-logout {
    background-color: #fff;
    color: #ff8c00;
    border: 1px solid darkorange;
    border-radius: 5px;
    margin: 24px auto;
    padding-left: 5px;
    padding-right: 5px;
}

.table-score > thead > tr > th {
    border-bottom: 0.1px solid #ffffff;
    text-align: center;
    font-size: 20px;
    vertical-align: bottom;
}

.table-score > tbody > tr > td {
    text-align: center;
    font-size: 18px;
    line-height: 1;
}

.container h3 {
    color: darkorange;
    text-align: center;
}

.y-right {
    float: right !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}